.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9; /* Світлий фон */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Легка тінь для сучасного вигляду */
}

.paginationButton {
    padding: 10px 15px;
    font-size: 1rem;
    color: #333; /* Темний текст */
    background-color: #fff; /* Білий фон для кнопок */
    border: 1px solid #ddd; /* Світла рамка */
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.paginationButton:disabled {
    cursor: not-allowed;
    background-color: #f1f1f1; /* Світло-сірий фон для неактивних кнопок */
    border-color: #ccc; /* Світло-сіра рамка для неактивних кнопок */
    color: #aaa; /* Світлий текст для неактивних кнопок */
}

.paginationButton:hover:not(:disabled) {
    background-color: #ffd700; /* Жовтий фон при наведенні */
    border-color: #ffd700; /* Жовта рамка при наведенні */
    transform: translateY(-2px); /* Легка анімація підйому */
}

.paginationButton.activeButton {
    background-color: #ffd700; /* Жовтий фон для активної сторінки */
    color: #111; /* Темний текст на активній кнопці */
    border-color: #ffd700; /* Жовта рамка для активної сторінки */
}

@media (max-width: 768px) {
    .pagination {
        flex-wrap: wrap;
        gap: 10px;
        padding: 15px;
    }

    .paginationButton {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}
